@import "../../../assets/scss/main.scss";

.shipper-banner-section{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 350px;
    background-image: url(../../../assets/images/Shipper-Login-Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 10px;
    text-align: center;
    h1{
        color: $white;
        // margin-top: 100px;
    }
  
}
.shipper-login-section{
    padding: 40px 0;
    .shipper-login-block{
        max-width: 500px;
        margin: auto;
        overflow: hidden;

      
    }
}


::ng-deep .mat-mdc-tab-body-content{
    overflow: hidden !important;
}   