/*color variables */

$white:#fff;
$black:#000;
$primary-color:#ffca00;
$secondary-color:#343434;
$blur-black:#2c2c2c;
$blue:#1f4499;
$border-color:#dfdfdf;
$transpernt-black:rgba(0,0,0,0.7);
$tabale-bg:#f4f4f4;
$tabale-border:#dfdfdf;
$warn:#ff0000