<section class="banner-section">
    <h1>CARGO TRACKING NOTE (CTN)</h1>
</section>
<app-authority-section></app-authority-section>
<section class="ctn-requirement-section">
    <div class="container">
        <h4>The CTN form (commonly,one form per BL) mainly include: </h4>
        <ul class="requirement-least">
            <li><span class="bold-text">IMPRTER,EXPORTER & FORWARDER(S) DATA : </span> Name,Address,Phone No,e-mail etc.
            </li>
            <li><span class="bold-text">GOODS : </span> a Draft copy can be used for the draft </li>

            <li><span class="bold-text">CHARGES : </span> Incoterm, reference, and the date have to be mentioned. </li>

            <li><span class="bold-text">DOCUMENTS </span> It has to be provided if the freight value is not mentioned on
                the commercial invoice </li>

        </ul>
    </div>
</section>