<section class="services-section">
    <div class="container">

        <h2>Services We Provide</h2>
        <div class="services-block">
            <ul class="services-list">
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Movement References Number (MRN)</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text"><span class="bold-text">Movement Reference Number (MRN)</span> is issued
                                by the Customs Authority from various countries across the world.</p>
                            <p class="bg-text">MRN makes it easier to facilitate the movement of goods from one point to
                                the others
                                under the customs territory, via another customs territory, or between two or more
                                different customs territories. </p>
                        </mat-card-content>
                        <mat-card-actions>

                            <a routerLink="/about" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
                <li>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Cargo Tracking Note (CTN)</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="bg-text">Cargo Tracking Note certificate contains detailed information on cargo
                                and its movement between ports. It’s also enables Marine Custom Authorities to access
                                information about exporter/importer, shipping route and methods, type and value of the
                                cargo, the value of the freight as well as the details about commodity being carried.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>

                            <a  routerLink="/about" title="READ MORE" mat-button class="btn yellow-btn">READ MORE</a>

                        </mat-card-actions>
                    </mat-card>
                </li>
            </ul>
        </div>
    </div>
</section>