<section class="authority-section">
    <div class="container">
        <div class="authority-block">
            <div class="img-block">
                <div class="img">
                <img src="../../../assets/images/ports-authority.jpg">
                </div>
            </div>
            <div class="content-block">
                <h3>Sierra Leone Ports Authority</h3>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem velit ut doloribus. Rerum quasi error
                    dignissimos illo aliquid fugiat pariatur illum id voluptates molestias odio voluptatum ea accusamus
                    est placeat, libero eum nam quibusdam sed possimus repellendus natus cum fugit. Ipsum quasi, non
                    soluta, praesentium vero qu obcaecati perspiciatis cumque, harum voluptas est amet
                    dolorum! Dolores exercitationem nostrum, soluta culpa esse velit natus in enim tempora distinctio
                    impedit consequatur magnam aut eaque sit. Excepturi id in blanditiis voluptatibus harum, nobis,
 

                </p>  

               
            </div>
        </div>
    </div>
</section>