<section class="contact-section">
    <div class="container">
        <ul class="contact-list">
            <li>
                <div class="contact-details">
                    <img src="../../../assets/images/address.svg">
                    <h3> Logistics solutions & services (LSS)</h3>
                    <p class="bg-text">48 Big Waterloo Street, Freetown, Sierra Leone</p>
                </div>
            </li>
            <li>
               
                    <div class="contact-details">
                        <img src="../../../assets/images/contact.svg">
                        <h3> Helpdesk</h3>
                        <p class="bg-text">Email:  <a href="mailto:info@ctn-sings.com" title="Mail">  info@ctn-sings.com</a> </p>
                        <p class="bg-text">Phone:  <a href="tel:8888" title="Call">  +232 80272727</a> </p>
                    
                </div>
            </li>
        </ul>
    </div>
</section>